div {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

table {
  height: auto;
  margin: 0 auto;
  width: 55rem;
}

th,
td {
  padding: 0.8rem;
}

span {
  color: rgb(69, 202, 173);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
