.header {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;

  img {
    min-width: 22rem;
    width: auto;
  }
}
